<section id='welcome-container'>
  <h1>Welcome to Wild Boar High School</h1>
  <section id='welcome-buttons'>
    <%= link_to 'Login', "session/new", class: 'welcome-button btn btn-info btn-lg btn-block', id: 'login-button' %>
    <%= link_to 'Register', "users/new", class: 'welcome-button btn btn-info btn-lg btn-block', id: 'register-button' %>
  </section>
</section>