<h1>Teachers</h1>

<tbody>
  <% @teachers.each do |teacher| %>
  <%= image_tag '<%= teacher.image_path %>' %>
    <tr>
      <td><%= teacher.first_name%> <%= teacher.last_name%></td>
    </tr>
    <% end %>
  </tbody>
