.student-summary {
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  background-color: #9FEA9F;
}

#welcome-container {
  /*border: 1px solid black;*/
  border-radius: 20px;
  min-height: 400px;
  width: 1000px;
  margin: 200px auto;
  background-color: rgba(255,255,255,0.6);
  padding: 50px;
  text-align: center;
  overflow: auto;
}

#welcome-buttons {
  margin-top: 50px;
  /*border: 1px solid black;*/
  /*padding: 30px;*/
}

#welcome-buttons a {
  margin-top: 50px;
}

.student-summary h2 {
  margin: 0px;
}

.student-summary span {
  margin: 0px 30px;
}

.student-list {
  width: 80%;
  margin: 30px auto;
}

.team-name {
  width: 40%;
}

.student-info {
  width: 15%;
}

.table-center {
  margin: 0 auto;
}

.ineligibility {
  width: max;
  margin: 0 auto;
  display: none;
}
.add-student-button {

}

.profile-pic img {
  width: 20%;
  height: 20%;
}

h1 {
  text-align: center;
}

#student-show-page {
  text-align: center;
}

ul {
  list-style-type: none;
}

ul li {
  margin-left: -40px;
}